@font-face {
    font-family: 'Roboto';
    src: url('/ressources/polices/Roboto/Roboto-Regular.woff2') format('woff2'),
         url('/ressources/polices/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/ressources/polices/Roboto/Roboto-Light.woff2') format('woff2'),
         url('/ressources/polices/Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-condensed';
    src: url('/ressources/polices/Roboto_condensed/RobotoCondensed-Bold.woff2') format('woff2'),
         url('/ressources/polices/Roboto_condensed/RobotoCondensed-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;

    font-family: Roboto-condensed, Arial, Helvetica, sans-serif;
}

h2 {
    font-weight: 700;
    font-size: 24px;
}

h3 {
    font-weight: 700;
    font-size: 18px;
}

h4 {
    font-weight: 700;
    font-size: 14px;
}

#map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0px;

    width: 100%;

    transition:
        right 1s linear,
        width 1s linear;
}

.map-overlay {
    font:
        bold 12px/20px 'Helvetica Neue',
        Arial,
        Helvetica,
        sans-serif;
    position: absolute;
    width: 19%;
    top: 0;
    left: 0;
    padding: 10px;
}

.map-overlay fieldset {
    border-radius: 5px;
}

.map-overlay .map-overlay-inner {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}

.map-overlay label {
    display: block;
    margin: 5px 0 0 5px;
}

.map-overlay input[type=range] {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    cursor: ew-resize;
};

.map-overlay input[type=checkbox] {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    cursor: ew-resize;
};

/* Checkbox (bâti 3D, Boucherie 3D)*/

.layers-control .layer-control {
    display: block;
    padding: 0.2em;
}

/* Pour compare plugin */

.map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/* Effacer ?? */

#toggle-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: white;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    z-index: 1;
}

/* Pour le nouveau volet lateral */

#volet {
    position: absolute;
    right: 0px;
    z-index: 1;

    overflow-y: auto;
    padding: 15px;
    box-sizing: border-box;

    height: 100%;

    background:#f3f3f8;
    transition: width 1s linear;
    user-select: text;
    border-left: 1px solid #bfbfbf;

}

#volet.plie {
    width:0%;
    padding: 0px;
}

#volet h4 {
    margin-top: 5px;
    margin-bottom: 0px;
}

#fiche-img-selectionee{
    transition: border-color 0.3s ease;
    border: 1px solid #2f8aa873;
    outline: none;
}

#fiche-img-selectionee .fiche-img{
    padding: 5px;
}

.fiche-img {
    margin: 0px 0px 15px 0px;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
}

.fiche-img.visible {
    opacity: 1;
}

.fiche-img-etiquette {
    margin-left: 4px;
    user-select: text;
    font-size: 13px;
}

.photographie {
    max-width: 100%;
    border-radius: 5px;
}

.visible .photographie {
    transition: opacity 0.5s ease-in-out;
    opacity: 0.7;
}

.visible .photographie:hover {
    transition: opacity 0.5s ease-in;
    opacity: 1;
}

.fiche-img time {
    margin-top: 5px;
    font-size: 13px;
    font-family: Roboto, sans-serif;
}

.image-icones {
    position: absolute;            /* Permet de positionner le conteneur par rapport à son parent */
    top: 10px;                     /* Décalage de 10px du haut */
    right: 10px;                   /* Décalage de 10px de la droite */
    display: flex;                 /* Utilise Flexbox pour aligner les éléments en ligne */
    justify-content: flex-end;     /* Aligne les éléments à droite du conteneur */
    gap: 10px;                     /* Ajoute un écart entre les icônes */
    padding: 3px;                  /* Espace autour des icônes à l'intérieur du conteneur */
}

.image-icone {
    background-color: rgba(219, 219, 219, 0.5);  /* Fond semi-transparent pour les icônes */
    padding: 5px;                  /* Espacement autour de l'icône */
    cursor: pointer;              /* Curseur en forme de main pour indiquer l'interactivité */
    width: 15px;                   /* Largeur des icônes */
    height: 15px;                  /* Hauteur des icônes */
    display: flex;                 /* Pour pouvoir centrer le contenu dans chaque icône */
    align-items: center;           /* Aligner verticalement l'icône à l'intérieur du conteneur */
    justify-content: center;       /* Centrer l'icône horizontalement à l'intérieur du conteneur */
    border-radius: 5px;
}

.donnees-ligne dt {
    display: inline-block;
}

.donnees-ligne dd {
    display: inline-block;
    margin: 0 10px;  /* Espacement horizontal entre les éléments */
}

/* Style pour le champ de recherche */
#recherche {
    width: 95%;                      /* S'étend sur toute la largeur de son conteneur */
    padding: 5px 0px 5px 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease; /* Transition douce pour le changement de couleur de bordure */
    font:
    bold 15px/20px 'Roboto-condensed',
    Arial,
    Helvetica,
    sans-serif;
}

/* Changer la couleur de la bordure au focus */
#recherche:focus {
    border-color: #2f8aa8;
    outline: none;
}

/* Style pour ajouter un icône de recherche*/
#recherche-icon {
    position: absolute;
    right: 10px; /* Positionne l'icône à droite */
    top: 50%;
    transform: translateY(-50%); /* Centrer verticalement */
}

/* Style global pour le conteneur du champ de recherche (si vous l'entourez d'un div) */
#search-container {
    position: relative;
    max-width: 300px;
    margin-bottom: 15px;
}